
<h1>Select the Area that you're interested in: </h1>

<form method="POST" action="/send">

    <label for="latitude">Dropoff Latitude:</label>
    <input type="number" id="latitude" name="latitude" value=40.712508>

    <br>

    <label for="longitude">Dropoff Longitude:</label>
    <input type="number" id="longitude" name="longitude" value=-73.998233>

    <br>

    <label for="Distance">Distance Threshold</label>
    <input type="number" id="distance" name="distance" value=10000>

    <br>

    <label for="metric">Metric</label>
    <select id="metric" name="metric">
        <option value="meters">Meters</option>
        <option value="kilometers">Kilometers</option>
        <option value="miles">Miles</option>
        <option value="feet">Feet</option>
    </select>

    <input type="submit" value="submit">

</form>