<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Taxi Map</title>

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    
    <!-- D3 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <h1>Taxi Cab Results</h1>

    <h2>Selected options:</h2>
    <li id="distance" value={{distance}}>Distance Threshold: {{distance}}</li>
    <li id="metric" value={{metric}}>Distance Metric {{metric}}</li>
    <li id="lat" value={{lat}}>Latitude: {{lat}}</li>
    <li id="lon" value={{lon}}>Longitude: {{lon}}</li>
    <br><br><br>
    
    <h2>Taxi Cab Filtered Map</h2>
    <!-- The div where we will inject our map -->
    <div id="map">Taxi-Map</div>

    <!-- Our JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>
</body>

</html>